apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  name: "ingress202"
  annotations:
    ingressclass.kubernetes.io/is-default-class: "false"
spec:
  controller: f5.com/cntr-ingress-svcs
